.contenedor_animManzana {
	position:absolute;
	width: 1080px;
	height: 1080px;
	/*background-color: #1CB473;*/
}

.mask1 {
	position: absolute;
	width: 1080px;
	height: 1080px;
	z-index: 1000;
	background-size: 40%;
	background-position-x: 20%;
	background-position-y: -45%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/manzanaenflor-83f1f.appspot.com/o/flores1.png?alt=media&token=d155a15a-7383-466b-bd1b-ffbcce7ea10e&_gl=1*pzeu1l*_ga*MTQzNzMxMTkyMS4xNjk2MjYxNjEx*_ga_CW55HF8NVT*MTY5NjM1NDQ5MS44LjEuMTY5NjM1NDQ5NC41Ny4wLjA.");
	mask-image: url("./../src/svgs/trazado1.svg");
}
.mask2 {
	position: absolute;
	width: 1080px;
	height: 1080px;
	z-index: 1000;
	background-size: 50%;
	background-position-x: 0%;
	background-position-y: 20%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/manzanaenflor-83f1f.appspot.com/o/flores2.jpeg?alt=media&token=02d66196-ee40-4bb6-80ee-1d3d292ca2d8&_gl=1*14deb6w*_ga*MTQzNzMxMTkyMS4xNjk2MjYxNjEx*_ga_CW55HF8NVT*MTY5NjM1NDQ5MS44LjEuMTY5NjM1NzU5MC4xOS4wLjA.");
	mask-image: url("./../src/svgs/trazado2.svg");
}
.mask3 {
	position: absolute;
	width: 1080px;
	height: 1080px;
	z-index: 900;
	background-size: 45%;
	background-position-x: -25%;
	background-position-y: 20%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/manzanaenflor-83f1f.appspot.com/o/flores3.jpg?alt=media&token=2785c7b1-3556-4e29-8cb5-3aeaa0478fc1&_gl=1*iosyj5*_ga*MTQzNzMxMTkyMS4xNjk2MjYxNjEx*_ga_CW55HF8NVT*MTY5NjM1NDQ5MS44LjEuMTY5NjM1ODA3OS42MC4wLjA.");
	mask-image: url("./../src/svgs/trazado3.svg");
}
.mask4 {
	position: absolute;
	width: 1080px;
	height: 1080px;
	z-index: 800;
	background-size: 90%;
	background-position-x: 20%;
	background-position-y: 100%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/manzanaenflor-83f1f.appspot.com/o/flores4.png?alt=media&token=cc4fc56f-c9c4-4cf5-9de9-2128300b384a&_gl=1*13v3qs9*_ga*MTQzNzMxMTkyMS4xNjk2MjYxNjEx*_ga_CW55HF8NVT*MTY5NjM1NDQ5MS44LjEuMTY5NjM1OTMwNC42MC4wLjA.");
	mask-image: url("./../src/svgs/trazado4.svg");
}
.mask5 {
	position: absolute;
	width: 1080px;
	height: 1080px;
	z-index: 700;
	background-size: 90%;
	background-position-x: 20%;
	background-position-y: 100%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/manzanaenflor-83f1f.appspot.com/o/flores5.png?alt=media&token=33a7ce05-4f18-4f17-ae5b-2ac77b5f7e3f&_gl=1*13j5fz4*_ga*MTQzNzMxMTkyMS4xNjk2MjYxNjEx*_ga_CW55HF8NVT*MTY5NjM1NDQ5MS44LjEuMTY5NjM1OTkyNi42MC4wLjA.");
	mask-image: url("./../src/svgs/trazado5.svg");
}
