@font-face {
  font-family: "Black"; /*Can be any text*/
  src: local("BarlowSemiCondensed-Black_Manzana"),
    url("./fuentes/BarlowSemiCondensed-Black_Manzana.ttf") format("truetype");
}
@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("BarlowSemiCondensed-Regular_Manzana"),
    url("./fuentes/BarlowSemiCondensed-Regular_Manzana.ttf") format("truetype");
}
@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("BarlowSemiCondensed-Bold_Manzana"),
    url("./fuentes/BarlowSemiCondensed-Bold_Manzana.ttf") format("truetype");
}
* {
  font-family: "Regular";
}
/*Preguntas*/
.preguntas_encabezado {
  position: relative;
  width: calc(100vw - 20px);
  left: 20px;
}
.fade-text {
  font-family: "Black" !important;
  margin-bottom: 0;
}
.preguntas_encabezado h3 {
  font-family: "Black";
  margin-top: 0;
}
label {
  display: block;
  position: relative;
  left: 20px;
  padding: 10px 0px 5px 0px;
}
#muyLargo {
  position: absolute;
  left: 20px;
}
#muyLargo p {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(216, 98, 85);
}
.mostrar p {
  display: block !important;
}
#formulario {
  position: relative;
  display: block;
  top: 20px;
}
.preguntas_contPregunta {
  position: relative;
  background-color: rgb(176, 244, 215);
  border-radius: 10px;
  width: calc(100vw - 40px);
  left: 20px;
  padding: 20px 0px 40px 0px;
}
.preguntas_inputNombre,
.preguntas_inputPregunta {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 40px);
  left: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}
.preguntas_inputNombre {
  height: 30px;
}
.preguntas_inputPregunta {
  resize: none;
}
.preguntas_contBoton {
  position: relative;
  top: 10px;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 40px;
  justify-content: end;
  margin-right: 20px;
}
.preguntas_boton {
  background-color: rgb(28, 180, 115);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}
.preguntas_contImg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.preguntas_contImg.proy {
  position: absolute;
  bottom: 0;
}
.manzanaImg {
  position: relative;
  width: 200px;
  height: 200px;
}
.manzanaImg.proy {
  top: calc(50vh - 400px);
  width: 900px;
  height: 900px;
}
.preguntas_contImg.preg {
  top: 70vh;
}
.manzanaImg img {
  position: absolute;
  width: 100%;
}
.titulos_cont {
  width: 1300px;
  padding-top: 100px;
  padding-left: 100px;
}
#titulosSvg {
  position: relative;
  z-index: 1000;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.st0 {
  fill: #ffffff;
}
.st1 {
  font-family: "Bold";
}
.st2 {
  font-size: 33.4923px;
}
.st3 {
  font-family: "Black";
}
.st4 {
  font-size: 66.3997px;
}
.st5 {
  fill: #ef5ba0;
}

.env_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 100;
}
.env_contText {
  background-color: honeydew;
  border-radius: 10px;
  border: solid 1px;
  width: 250px;
  height: 80px;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.env_text {
}
/*Proyeccion*/
.proy_contenedor {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 180, 115);
  overflow: hidden;
}
.fade-text {
  font-size: clamp(1.5rem, 8vw - 2rem, 7rem);
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: clamp(1.5rem, 8vw - 2rem, 7rem);
}
.fade-container {
  opacity: 1; /* Inicialmente visible */
  max-width: 90%;
  transition: opacity 3s ease-in-out; /* Transición de 3 segundos */
}
.fade-container.fade-in {
  animation: blur-in-expand 1.4s linear both;
}
.fade-container.fade-out {
  animation: blur-out-expand 1.4s linear both;
}
/*admin*/
.admin_encabezado {
  position: relative;
  width: calc(100vw - 40px);
  left: 20px;
}
.admin_h1 {
  margin: 0;
  margin-top: 20px;
}
.admin_h3 {
  margin: 0;
  margin-bottom: 10px;
}
.admin_contBotones {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 35px;
  gap: 5px;
}
.admin_botones {
  height: 35px;
  line-height: 10px;
  margin: 0;
}
.admin_tituloTabla {
  background-color: rgb(218, 218, 218);
}
.admin_contDosTablas {
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.admin_contTabla {
  position: relative;
  margin-top: 15px;
  left: 20px;
  width: calc(100% - 40px);
}
.admin_tituloTabla {
  width: 100%;
  margin: 0;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 0 5px;
  border: solid 1px #d8d8d8;
  border-left: 0;
  border-right: 0;
}
.thNombre {
  width: 70px;
  text-align: left;
}
.thBoton {
  width: 70px;
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes blur-out-expand {
  0% {
    transform: scale(1);
    filter: blur(0.01px);
  }
  100% {
    transform: scale(2);
    filter: blur(12px);
    opacity: 0;
  }
}

@media (min-width: 600px) {
  /*preguntas*/
  .preguntas_contPregunta {
    width: calc(50vw);
    left: 25vw;
  }
  /*admin*/
  .admin_contBotones {
    justify-content: start;
  }
  .admin_contDosTablas {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .admin_tituloTabla {
    width: calc(100% - 40px);
    margin: 0;
  }
  .admin_contTabla {
    position: relative;
    left: 20px;
    width: calc(100% - 40px);
  }
  table {
    width: 90%;
    left: 5%;
  }
}

/*Pruebas*/
.ball {
  border-radius: 50%;
  animation: rebota 4s alternate infinite ease-in;
}

@keyframes rebota {
  90% {
    height: 100px;
  }

  100% {
    transform: translateY(200px);
    height: 80px;
  }
}
